tailwind.config = {
    theme: {
        extend: {
            colors: {
                primary: '#99c6d8',
                header: "#100E0B", 
                
            },
            fontFamily: {
                raleway: ['Raleway', 'sans-serif'],
                nunito: ['Nunito Sans', 'sans-serif'],
            },
        }
    }
}
